
.navigation {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: Helvetica, Arial;
    background-color:#f4f4f4;
}

#current {
    font-weight: bold;
    color: #f25730;
    border-bottom: solid 3px #f25730;
}

h1 {
    color: #f25730;
    font-size: 35px;
    font-family: Helvetica, Arial;
    text-align: center;
    font-weight: bolder;
    padding: 5% 5% 1% 5%;
}

h2 {
    font-size: 25px;
    font-family: Helvetica, Arial;
    padding: 6% 5% 3% 5%;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-family: Helvetica, Arial;
    padding: 6% 5% 3% 5%;
    font-weight: bold;
}

p {
    font-size: 18px;
    font-family: Helvetica, Arial;
    padding: 3% 5% 0 5%;
}

span {
    font-size: 18px;
    font-family: Helvetica, Arial;
    padding: 2% 5% 5% 5%;
}

.lists {
    list-style-type: circle;
    font-size: 18px;
    font-family: Helvetica, Arial;
    padding: 0 5% 5% 8%;
}

.ingredientlists {
    list-style-type: circle;
    font-size: 18px;
    font-family: Helvetica, Arial;
    padding: 0 5% 0 8%;
}

ol {
    list-style-type: decimal;
    font-size: 18px;
    font-family: Helvetica, Arial;
    padding: 0 5% 0 9%;
}

.basicinfo {
    display: flex;
    justify-content: center;
}

@keyframes carousal {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-75%);
    }
}

.gallery img, .foodgallery img {
    flex: 0 0 25%;
    overflow: hidden;
    object-fit: cover;
    border: solid 5px #293241;
    border-radius: 3%;
}

.greybackground {
    background-color: #f4f4f4;
    margin: 5% 0;
}

.bluebackground {
    background-color: #e0fbfc;
    margin: 5% 0;
}

figcaption {
    font-size: 16px;
    font-family: Helvetica, Arial;
    padding: 3% 5% 5% 5%;
    text-align: center;
}

.gallery {
    display: flex;
    width: 150%;
    aspect-ratio: 100/23;
    gap: 20px;
    animation: carousal 10s linear infinite;
}

.foodgallery {
    display: flex;
    margin: 2% 0;
    width: 150%;
    aspect-ratio: 100/26;
    gap: 20px;
    animation: carousal 10s linear infinite;
    padding-bottom: 5%;
}

.thumbnail {
    display: block;
    margin: 0 auto;
    width: 40%;
    aspect-ratio: 1;
    object-fit: cover;
    border: solid 5px #293241;
    border-radius: 3%;
}

.travelgif {
    display: block;
    margin: 0 auto 3% auto;
    width: 40%;
    aspect-ratio: 1;
    object-fit: cover;
    border: solid 5px #293241;
    border-radius: 3%;
}


@media only screen and (max-width: 599px) {

    #skip {
        display: none;
    }

    .travelgallery {
        padding: 2% 5%;
        width: 80%;
        aspect-ratio: 1.1;
        margin: 0 auto;
        animation: none;
    }

    .travelgallery img {
        display: block;
        margin: 0 auto;
        width: 50%;
        aspect-ratio: 1;
        object-fit: cover;
        border: solid 5px #293241;
        border-radius: 3%;
    }
}

@media only screen and (min-width: 600px) {

    #skip {
        display: block;
        font-size: 18px;
        font-family: Helvetica, Arial;
        text-decoration: underline;
        padding: 4% 5% 0 5%;
    }

    .travelgallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        aspect-ratio: 1.1;
        margin: 0 auto;
        gap: 4%;
        padding-bottom: 4%;
    }

    .travelgallery img {
        margin: 0 auto;
        max-width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border: solid 5px #293241;
        border-radius: 3%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .travelgif {
        display: none;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        aspect-ratio: 1.1;
        margin: 0 auto;
        animation: none;
    }

    .foodgallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        aspect-ratio: 1.05;
        margin: 0 auto;
        animation: none;
        padding-bottom: 5%;
    }
      
    .gallery img, .foodgallery img {
        width: 100%;
        aspect-ratio: 1;
        border: solid 5px #293241;
        border-radius: 3%;
    }
}