
.navigation {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-top: 10%;
    padding-bottom: 8%;
    font-size: 20px;
    font-family: Helvetica, Arial;
}

#current {
    font-weight: bold;
    color: #f25730;
    border: solid 3px #f25730;
    padding: 8% 10%;
}

h1 {
    color: black;
    font-size: 35px;
    font-family: Helvetica, Arial;
    font-weight: bolder;
    padding: 5% 10% 10%;
}

h2 {
    font-size: 25px;
    text-align: center;
    font-family: Helvetica, Arial;
    padding: 8%;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #f25730;
}

h3 {
    font-size: 20px;
    text-align: center;
    font-family: Helvetica, Arial;
    padding: 6%;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #f25730;
}

p {
    font-size: 15px;
    font-family: Helvetica, Arial;
    padding: 3% 10%;
}

.basicinfo {
    display: flex;
    padding: 2% 10% 8% 10%;
    gap: 5%;
    align-items: center;
    justify-content: space-between;
}

span {
    flex: 1;
    font-size: 15px;
    font-family: Helvetica, Arial;
    padding: 2%;
    border-left: dashed 3px #f25730;
    color: black;
}

.lists {
    list-style-type: circle;
    font-size: 15px;
    font-family: Helvetica, Arial;
    margin: 0 14% 5% 14%;
    padding: 4% 4% 4% 10%;
    border: dashed 3px #f25730;}

.ingredientlists {
    list-style-type: circle;
    font-size: 15px;
    font-family: Helvetica, Arial;
    margin: 0 14% 5% 14%;
    padding: 4% 4% 4% 10%;
    border: dashed 3px #f25730;
}

ol {
    list-style-type: decimal;
    font-size: 15px;
    font-family: Helvetica, Arial;
    padding: 0 14% 5% 14%;
}

@keyframes carousal {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-75%);
    }
}

.gallery img, .foodgallery img {
    flex: 0 0 25%;
    overflow: hidden;
    object-fit: cover;
    border: solid 5px #293241;
}

.greybackground {
    background-color: #f4f4f4;
    padding: 0 0 5% 0;
}

.bluebackground {
    background-color: #e0fbfc;
    padding: 0 0 5% 0;
}

figcaption {
    font-size: 14px;
    font-family: Helvetica, Arial;
    padding: 3% 5% 5% 5%;
    text-align: center;
}

.gallery {
    display: flex;
    width: 150%;
    height: 0;
    padding-bottom: 23%;
    gap: 20px;
    animation: carousal 10s linear infinite;
}

.foodgallery {
    display: flex;
    margin: 2% 0;
    width: 150%;
    aspect-ratio: 100/26;
    gap: 20px;
    animation: carousal 10s linear infinite;
    padding-bottom: 5%;
}

.thumbnail {
    display: block;
    margin: 0 auto;
    width: 40%;
    aspect-ratio: 1;
    object-fit: cover;
    border: solid 5px black;
}

.travelgif {
    display: block;
    margin: 0 auto 3% auto;
    width: 40%;
    aspect-ratio: 1;
    object-fit: cover;
    border: solid 5px #293241;
}


@media only screen and (max-width: 600px) {

    #skip {
        display: none;
    }

    .travelgallery {
        padding: 2% 5%;
        width: 80%;
        aspect-ratio: 1.1;
        margin: 0 auto;
        animation: none;
    }

    .travelgallery img {
        display: block;
        margin: 0 auto;
        width: 50%;
        aspect-ratio: 1;
        object-fit: cover;
        border: solid 5px #293241;
    }
}

@media only screen and (min-width: 601px) {

    #skip {
        display: block;
        font-size: 18px;
        font-family: Helvetica, Arial;
        text-decoration: underline;
        padding: 4% 5% 0 5%;
    }

    .travelgallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        aspect-ratio: 1.1;
        margin: 0 auto;
        gap: 4%;
        padding-bottom: 4%;
    }

    .travelgallery img {
        margin: 0 auto;
        max-width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border: solid 5px #293241;
    }
}

@media (prefers-reduced-motion: reduce) {
    .travelgif {
        display: none;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        aspect-ratio: 1.1;
        margin: 0 auto;
        animation: none;
    }

    .foodgallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        aspect-ratio: 1.05;
        margin: 0 auto;
        animation: none;
        padding-bottom: 5%;
    }
      
    .gallery img, .foodgallery img {
        width: 100%;
        aspect-ratio: 1;
        border: solid 5px #293241;
    }
}
